/* You can add global styles to this file, and also import other style files */

html,
body {
   height: 100%;
}
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
   height: 100vh;
   width: 100vw;
}

main > #container {
   width: 600px;

   margin: 0 auto;
   margin-top: 75px;
}

nav a:visited,
a:link {
   color: #334953;
}
nav a:hover {
   color: #039be5;
   background-color: #cfd8dc;
}
nav a.active {
   color: #039be5;
}
